*{  /*resetar o navegador*/

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}


html, body{ 

    font-family: Arial, Helvetica, sans-serif; /*fontes*/
    color: white; /*cor da fonte*/
    font-size: 62.5%;
    text-rendering: optimizeLegibility;

    height: 100%;
    width: 100%;
   
        
}

body{

    display: flex;
    align-items: center;
    justify-content: center;
}



main{

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5rem;

    width: 25rem;
    height: 50rem;
    background-color: #010004;




}

button{
    width: 15rem;
    height: 5rem;

}

h1{

    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 20rem;



}


